# Read data

In [3]:
import os
import numpy as np
import pandas as pd
import scanpy as sc
import random

## Import  data

In [4]:
os.chdir('..\\Data_after_Imputation')

In [6]:
#Uncomment the desired data set section and run all cells

## RNAMix1Basic
# mydata='RNAMix1Basic_noDR'
# X_counts = pd.read_csv('RNAmix1_original.csv',header=0,index_col=0)
# Labels = pd.read_csv('rnamix1_original_labels.csv',header=0,index_col=0)

##RNAMix2Basic
# mydata='RNAMix2Basic_noDR'
# X_counts = pd.read_csv('RNAmix2_original.csv',header=0,index_col=0)
# Labels = pd.read_csv('rnamix2_original_labels.csv',header=0,index_col=0)

# TMLungBasic
# mydata='TMLungBasic_noDR'
# X_counts = pd.read_csv('lung_tabula_muris_saver.csv',header=0,index_col=0)
# Labels = pd.read_csv('lung_tabula_muris_labels.csv',header=0,index_col=0)

## Beta2Basic 
mydata ='Beta2Basic_noDR'
X_counts = pd.read_csv('beta_3_4_10_filtered_saver.csv',header=0,index_col=0)
Labels = pd.read_csv('beta_cell_groups_3_4_10_after_filtering.csv',header=0,index_col=2)
Labels=Labels[['cluster']]

## TMPancBasic
# mydata='TMPancBasic_noDR'
# X_counts = pd.read_csv('pancreas_tabula_muris_saver.csv',header=0,index_col=0)
# Labels = pd.read_csv('pancreatic_tabula_muris_labels.csv',header=0,index_col=0)

## BaronPancSCT
# mydata='BaronPancSCT_noDR'
# X_counts = pd.read_csv('BaronPancSCT_filtered.csv',header=0,index_col=0)
# Labels = pd.read_csv('pancreatic_num_labels_filtered.csv',header=0,index_col=0)


## PBMC4k BASIC
# mydata='PBMC4kBASIC_noDR'
# X_counts = pd.read_csv('subset_pbmc4k.csv',header=0,index_col=0)
# Labels = pd.read_csv('subset_pbmc4k_labels.csv',header=0,index_col=0)


## CellMixSngSCT
#mydata='CellMixSngSCT_noDR'
#X_counts = pd.read_csv('Cellmix_sng_SCT.csv',header=0,index_col=0)
#Labels = pd.read_csv('cellmix_sng_labels.csv',header=0,index_col=0)

In [7]:
Labels

                      cluster
cell
GGATAAAG.GCAAAGCC           1
TGATCGACGGT.CTAGTAAC        1
ATATGCAT.GGTGGGAT           1
AACCCATAT.TCTAGCAG          1
AAGCGCCTT.AGCGCCTT          1
...                       ...
GTACCTTG.AAAGTCGG           3
AGTCAATAC.TTCGCTGG          3
GACCCGAATG.CGTCAGCA         3
AGGTTAGTG.AGAGGTGG          3
TGACACTTTCT.CCCATCTG        3

[473 rows x 1 columns]

In [8]:
X_counts

,GGATAAAG.GCAAAGCC,TGATCGACGGT.CTAGTAAC,ATATGCAT.GGTGGGAT,AACCCATAT.TCTAGCAG,AAGCGCCTT.AGCGCCTT,GAAAGCGTAC.GGAGAAGC,TGATCGACACC.CCAGCAGT,TGATGTGGCTA.CCGCAACT.1,TGAGCCGGATT.GGCTACTA,TAAATAGG.ACTCACCG,...,CTTACGGG.AAGGTAAT,TGAATGACTTT.ATATGCAT,GAGATCTCGG.AACACACG,TGATTGTTTAC.CGTATCGG,AAAAGCCTA.ATCTTTGT,GTACCTTG.AAAGTCGG,AGTCAATAC.TTCGCTGG,GACCCGAATG.CGTCAGCA,AGGTTAGTG.AGAGGTGG,TGACACTTTCT.CCCATCTG
MAN1A2,0.439,0.299,0.387,0.438,0.408,0.273,0.418,0.472,0.409,0.554,...,0.149,0.142,0.102,0.153,0.131,0.124,0.138,0.092,0.132,0.170
FKBP2,1.025,1.174,0.744,0.775,0.942,0.605,0.792,1.218,0.586,0.960,...,0.226,0.329,0.228,0.298,0.327,0.212,0.217,0.252,0.321,0.524
USMG5,1.016,0.975,0.634,0.546,0.840,0.438,0.769,0.846,0.963,0.493,...,0.159,0.298,0.182,0.259,0.166,0.204,0.182,0.175,0.191,0.449
KCNMA1,0.391,0.361,0.408,0.335,0.366,0.423,0.496,0.452,0.348,0.436,...,0.143,0.259,0.181,0.168,0.162,0.173,0.222,0.154,0.127,0.250
RABL6,0.089,0.094,0.215,0.095,0.189,0.095,0.207,0.095,0.093,0.091,...,0.092,0.094,0.095,0.091,0.096,0.094,0.095,0.093,0.090,0.093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZNF580,0.032,0.034,0.034,0.034,0.031,0.034,0.033,0.034,0.033,0.033,...,0.033,0.033,0.034,0.033,0.034,0.033,0.034,0.033,0.033,0.033
ZNF664,0.036,0.038,0.039,0.039,0.033,0.039,0.037,0.039,0.038,0.037,...,0.037,0.038,0.039,0.037,0.039,0.038,0.039,0.038,0.036,0.038
ZNF706,0.182,0.066,0.084,0.084,0.059,0.078,0.058,0.073,0.082,0.071,...,0.062,0.085,0.070,0.067,0.070,0.069,0.068,0.067,0.068,0.070
ZNHIT1,0.060,0.065,0.067,0.067,0.055,0.067,0.063,0.066,0.065,0.062,...,0.063,0.065,0.067,0.062,0.068,0.065,0.066,0.065,0.061,0.064
ZRANB2,0.049,0.052,0.053,0.053,0.046,0.053,0.177,0.053,0.052,0.050,...,0.051,0.052,0.053,0.050,0.053,0.310,0.053,0.052,0.050,0.051

In [9]:
[g,c]=X_counts.shape
colnames=["cell_" + str(i)  for i in range(1,c+1)]
rownames=["gene_" + str(i)  for i in range(1,g+1)]
X_counts.columns = colnames
X_counts.index=rownames
X_counts = X_counts.T
X_counts

,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,gene_10,...,gene_2272,gene_2273,gene_2274,gene_2275,gene_2276,gene_2277,gene_2278,gene_2279,gene_2280,gene_2281
cell_1,0.439,1.025,1.016,0.391,0.089,0.614,0.584,0.481,0.552,0.346,...,0.042,0.054,0.045,0.138,0.064,0.032,0.036,0.182,0.060,0.049
cell_2,0.299,1.174,0.975,0.361,0.094,0.628,0.576,0.382,0.479,0.173,...,0.044,0.209,0.050,0.364,0.066,0.034,0.038,0.066,0.065,0.052
cell_3,0.387,0.744,0.634,0.408,0.215,0.499,0.628,0.478,0.588,0.191,...,0.045,0.059,0.052,0.156,0.066,0.034,0.039,0.084,0.067,0.053
cell_4,0.438,0.775,0.546,0.335,0.095,0.564,0.867,0.711,0.570,0.148,...,0.045,0.059,0.052,0.155,0.066,0.034,0.039,0.084,0.067,0.053
cell_5,0.408,0.942,0.840,0.366,0.189,0.511,0.348,0.587,0.392,0.166,...,0.039,0.050,0.040,0.124,0.061,0.031,0.033,0.059,0.055,0.046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
cell_469,0.124,0.212,0.204,0.173,0.094,0.234,0.506,0.161,0.157,0.139,...,0.044,0.058,0.050,0.150,0.066,0.033,0.038,0.069,0.065,0.310
cell_470,0.138,0.217,0.182,0.222,0.095,0.198,0.171,0.107,0.192,0.134,...,0.044,0.058,0.051,0.153,0.066,0.034,0.039,0.068,0.066,0.053
cell_471,0.092,0.252,0.175,0.154,0.093,0.161,0.259,0.284,0.149,0.080,...,0.044,0.057,0.049,0.149,0.065,0.033,0.038,0.067,0.065,0.052
cell_472,0.132,0.321,0.191,0.127,0.090,0.124,0.230,0.214,0.185,0.119,...,0.042,0.055,0.046,0.141,0.064,0.033,0.036,0.068,0.061,0.050
cell_473,0.170,0.524,0.449,0.250,0.093,0.259,0.423,0.244,0.445,0.108,...,0.043,0.057,0.049,0.147,0.065,0.033,0.038,0.070,0.064,0.051

In [10]:
#Labels=Labels.astype(str)
Labels.index= X_counts.index
Labels.columns= ['Labels']
Labels.shape

(473, 1)

In [11]:
type(Labels)

pandas.core.frame.DataFrame

In [12]:
adata=sc.AnnData(X = X_counts, obs = Labels)
print(adata)

AnnData object with n_obs × n_vars = 473 × 2281
    obs: 'Labels'

In [13]:
adata.X

array([[0.439, 1.025, 1.016, ..., 0.182, 0.06 , 0.049],
       [0.299, 1.174, 0.975, ..., 0.066, 0.065, 0.052],
       [0.387, 0.744, 0.634, ..., 0.084, 0.067, 0.053],
       ...,
       [0.092, 0.252, 0.175, ..., 0.067, 0.065, 0.052],
       [0.132, 0.321, 0.191, ..., 0.068, 0.061, 0.05 ],
       [0.17 , 0.524, 0.449, ..., 0.07 , 0.064, 0.051]], dtype=float32)

In [14]:

adata.write(mydata+'.h5ad')

In [15]:
mydata

'Beta2Basic_noDR'

# Check that the data can be uploaded

In [16]:
adata= sc.read(mydata+'.h5ad')

In [17]:
adata

AnnData object with n_obs × n_vars = 473 × 2281
    obs: 'Labels'